ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-style: normal;
}
a:hover {
  color: #404bbf;
}
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.header-studio {
  color: #2e2f42;
}
.footer-studio {
  color: #ffffff;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.header-nav-link:active {
  text-decoration: underline#404BBF;
}
.header-contact-link {
  color: #434455;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-btn {
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.skills-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.skills-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
